/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	margin: auto;
	width: 80%;
}

.nav-bar-top {
	display: inline-block;
	margin: 25px auto;
	width: 100%;
	text-align: center;
}

.nav-bar-top nav a{
	color: silver;
	display: inline-block;
	width: 13%;
}

.logo {
	margin-left: 18px;
}

.top-section {
	border-bottom: 2px solid black;
	margin-bottom: 50px;
}

header {
	padding: 7px;
	display: inline-block;
	width: 100%;
	margin: 50px auto 0px auto;
	padding-bottom: 30px;
}

.header-text {
	display: inline-block;
	width: 50%;
	margin-left: 20px;
}

header img {
	display: block;
	float: right;
	width: 40%;
	margin-right: 50px;
}

#onDemand {
	text-align: center;
	font-size: 72px;
	padding: 100px;
}

#startBtn {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: gray;
	padding: 6px 40px 6px 40px;
	border: 1px solid gray;
	position: relative;
	bottom: 100px;
	left: 167px;
}

.main-content {
	display: inline-block;
	width: 100%;
	border-bottom: 2px solid black;
}

.entry {
	display: inline-block;
	width: 500px;
	margin: auto;
	margin-bottom: 15px;
}

.small-entry {
	display: inline-block;
	width: 30%;
	margin: auto;
	padding-bottom: 35px;
}

.main-content .entry h1 {
	font-weight: 900;
}

.main-content .entry p {
	font-size: 18px;
	margin-right: 0px;
	margin-bottom: 30px;
	width: 100%;
}

.main-content .small-entry p {
	font-size: 18px;
}

#about {
	float: right;
}

#product {
	position: relative;
	left: 45px;
}

#vision {
	float: right;
}

.main-content img {
	margin-bottom: 38px;
}

.contact-form {
	margin-top: 30px;
	width: 150px;
	display: block;
}

#phone {
	margin: 20px 0px 20px 0px;
}

footer {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	margin: 45px 0px 150px 0px;
}